.hero
{
    height: 90vh;
    padding-top: 40px;
    background-image: url(../images/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

.about
{
    width: 70%;
    margin: auto;
    padding: 20px;
    padding-bottom: 40px;
}

#abouthead
{padding-bottom: 20px;}

.heading
{
    font-family: 'DancingScript', 'Goudy Old Style', serif;
    font-size: 60px;
    padding-top: 170px;
    margin-top: -170px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    text-align: center;
}

@media screen and (max-width: 660px)
{
    .heading{font-size: 30px;}
    #servicehead{padding-bottom: 0};
}

.aboutpg
{
    margin-bottom: 20px;
    padding-left: 20px;
}

.services
{
    width: 70%;
    margin: auto;
    padding-bottom: 40px;
}

.servicelist
{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.serviceitem
{
    font-size: 20px;
    flex: 1 400px;
    margin-top: 50px;
}

@media screen and (min-width: 660px)
{
    .serviceicon
    {
        max-height: 250px;
    }
}

@media screen and (max-width: 660px) 
{
    .servicetag
    {
        font-size: 15px;
    }
    .serviceicon
    {
        max-height: 100px;
    }
}

.contact
{
    width: 70%;
    margin: auto;
    padding-bottom: 40px;
}

.footercontact
{
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

label
{
    font-size: 20px;
}

#formlist
{
    list-style: none;
}

.formsection
{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding: 5px;
}

.inputbox:focus
{
    border-radius: 1px;
    border-width: 3px;
    border-color: #D00000;
    outline: none;
}

input
{
    min-height: 40px;
    font-size: 18px;
}

textarea
{
    min-height: 200px;
    resize: none;
}

.button
{
    width: fit-content;
    padding: 20px;
    margin: auto;
}

#submitbutton
{
    font-size: 20px;
    border: 3px solid;
    border-radius: 20px 20px;
}
    

button
{
    border:none;
    padding: 20px;
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

button:hover
{
    cursor:pointer;
}
    

.gallery
{
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 40px;
}

.gallerywindow
{
    position: relative;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid;
    border-color:#D00000;
    border-radius: 20px;
}

.images
{
    position: absolute;
    bottom: 0;
    display: flex;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    border-radius: 15px;
}

.galleryimg
{   
    min-width: 100%;
    object-fit: contain;
}

.galleryinterface
{
    position: relative;
    height: 100%;
}

.textcontainer
{
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 12%;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.textcontainer::-webkit-scrollbar
{
    width: 0;
    height: 0;    
}

#imagedesc
{
    margin-left: 30px;
    margin-right: 30px;
}

.arrowcontainer
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 250px;
    z-index: 1;
    display:flex;
    justify-content: space-between;
}

.arrow:hover
{
    background-color: rgba(255, 255, 255 , 0.6);
}

.arrow
{
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowchar
{
    min-width: 40px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: white;
}