*
{
    padding: 0;
    margin: 0;
}

html, body
{
    height: 100%;    
}


/*Header*/
.header
{
    height: fit-content;
    background-color: blueviolet;
    display:flex;
    flex-wrap: wrap;
}

.headnav
{
    display:flex;
}

.headinfo
{
    display:flex;
    flex: 1;
    justify-content: end;
    align-items: center;
}

.infoblock
{
    text-align:left;
    min-width: 150px;
    margin-right: 30px;
}

.infoblock#location
{
    margin-left: 30px;
}

nav
{
    margin-left: 20px;
    display:flex;
    align-items:center;

}

.logo
{
    max-height: 120px;
    object-fit: contain;
}

.navlink
{
    margin: 20px;
}
/*Header*/


.hero
{
    height: 90vh;
    background-image: url(../images/herotest.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

/*Main Content*/
.mainback
{
    background-color: blue;
}

main
{
    background-color:aqua;
    max-width: 1500px;
    margin: auto;
}
/*Main Content*/

.about
{
    width: 70%;
    margin: auto;
    padding: 20px;

}

#abouthead
{
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/*Profile*/
.profile
{
    margin:auto;
    max-width: 60%;
    display: flow-root;
    padding-top: 40px;
    padding-bottom: 40px;
}

.profileimg
{
    float: left;
    margin-right: 15px;
    max-width: 200px;
}
/*Profile*/

footer
{
    height: 50px;
    display: flex;
    align-items: center;
}

.footer
{
    margin: auto;
    width: fit-content;
}

