.hero
{
    height: 90vh;
    background-image: url(../images/herotest.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

.about
{
    width: 70%;
    margin: auto;
    padding: 20px;
}

#abouthead
{
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.aboutpg
{
    margin-bottom: 20px;
}

.services
{
    width: 70%;
    margin: auto;
    text-align: center;
}

.servicelist
{
    display: flex;
    flex-wrap: wrap;
}

.serviceitem
{
    flex: 1 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact
{
    width: 70%;
    margin: auto;
}

#contacthead
{
    text-align: center;
}

#formlist
{
    list-style: none;
}

.formsection
{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 5px;
}

input
{
    min-height: 20px;
}

textarea
{
    min-height: 60px;
    resize: none;
}

.button
{
    width: fit-content;
    padding: 20px;
    margin: auto;
}

button
{
    border: none;
    border-radius: 10px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}


