*
{
    padding: 0;
    margin: 0;
}

html, body
{
    height: 100%;    
}

/*Header*/

.header
{
    height: fit-content;
    background-color: blueviolet;
    display:flex;
}

.headertext
{
    display: flex;
    flex: 1;
}

.headinfo
{
    display:flex;
    align-items: center;
}

.infoblock
{
    text-align:left;
    margin-right: 30px;
}

.infoblock#location {margin-left: 30px;}
.logo {object-fit: contain;}
#logolink{display: flex;}

nav 
{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
}

.navlink
{
    padding: 20px;
    text-decoration: none;
}

@media screen and (min-width: 970px)
{
    .headinfo
    {
        display:flex;
        flex: 1;
        justify-content: end;
        align-items: center;
    }
    .headertext{justify-content: space-between;}
    .header{flex-wrap: wrap;}
    nav{margin-left: 20px;}
    .logo{max-height: 120px;}
}

@media screen and (max-width: 970px)
{
    .navlink
    {
        flex: 1;
        text-align: center;
    }
    .headertext{flex-direction: column;}
    .logo{max-height: 150px;}
    .headinfo{margin: auto;}
}
/*Header*/

/*Main Content*/
.mainback
{
    background-color: blue;
}

main
{
    background-color:aqua;
    max-width: 1500px;
    margin: auto;
}
/*Main Content*/

footer
{
    height: 50px;
    display: flex;
    align-items: center;
}

.footer
{
    margin: auto;
    width: fit-content;
}
